//
//  GlobalEnvironment.xcconfig
//  LunchboxClient
//
//  Created by Ambrose Mbayi on 24/04/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

HOST_URL = novadine.com

HEADER_FONT_FILE_NAME = Inter.ttf
BODY_FONT_FILE_NAME = Inter.ttf

HEADER_FONT_NAME = Inter
BODY_FONT_NAME = Inter


APPEARANCE = Light

INFOPLIST_KEY_UIStatusBarStyle = UIStatusBarStyleDarkContent
